// colors
$primary-light-15: rgba(63, 172, 224, 0.15);
$primary-light-5: rgba(63, 172, 224, 0.05);
$primary-dark: #348eb9;
$brand-primary: #399ccb;
$primary-light: #3face0;
$secondary: #001845;
$secondary-80: rgba(0, 24, 69, 0.8);
$secondary-50: rgba(0, 24, 69, 0.5);
$secondary-light: #002855;
$secondary-dark: #001233;
$text: #030f26;
$text-body: #5e6478;
$text-body-light: #979dac;
$separator: #ebebeb;
$background-secondary: #f5f5f5;
$background-primary: #ffffff;
$alert-error: #d71d5b;
$alert-confirmation: #44ffd1;
$primary-light-80: rgba(63, 172, 224, 0.8);
$primary-light-70: rgba(63, 172, 224, 0.7);
$button-shadow-normal: rgba(57, 156, 203, 0.4);
$icons-dark-secondary-20: rgba(0, 24, 69, 0.2);
